* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.nav-item {
    margin: 0 10px;
}

#about-nav-list {
    padding-left: 20px;
    border-left: 1px solid 	#707070;
}

#nav-bar-container {
    width: 100vw;
    background-color: #333;
}

main {
    width: 100vw;
    height: 95vh;
    background-color: #333;
    
}

#description, #capstone2, #capstone3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 2px #000000;
}

.row h1 {
    margin: 0;
    letter-spacing: 8px;
}

.row p {
    font-size: 14px;
    letter-spacing: 2px;
}

#description:hover {
    background-image: url(../images/area-image.jpg);
    background-size: cover;
}

#capstone2:hover {
    background-image: url(../images/cargo-dock.jpg);
    background-size: cover;
}

#capstone3:hover {
    background-image: url(https://images.pexels.com/photos/69932/tabby-cat-close-up-portrait-69932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}




